layout {
    tab name="nvim" focus=true {
        pane
    }

    tab name="shell" {
        pane
    }

    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
              format_left   "{mode} #[fg=#B7BDF8,bold]{session}{tabs}"   # Text color
              format_right  "{command_git_branch} {datetime}"
              format_space  ""

              border_enabled  "false"
              border_char     "─"
              border_format   "#[fg=#A6ADC8]{char}"                       # Border color
              border_position "top"

              hide_frame_for_single_pane "true"

              mode_normal  "#[bg=#F28FAD] "                               # Pink highlight for normal mode
              mode_tmux    "#[bg=#FAB387] "                               # Orange highlight for tmux mode

              tab_normal   "#[fg=#A6ADC8] {name} "                        # Muted color for inactive tabs
              tab_active   "#[fg=#96CDFB,bold,italic] {name} "            # Blue accent for active tabs

              command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
              command_git_branch_format      "#[fg=#89DCEB] {stdout} "    # Cyan for git branch
              command_git_branch_interval    "10"
              command_git_branch_rendermode  "static"
            }
        }
    }
}
